<%- include('../partials/header') %>

<h2>Enter New Flight Information</h2>
<form action="/flights" method="POST">
    <label>Airline: 
        <select required name="airline">
            <option value="Americano">Americano</option>
            <option value="Southweast">SouthWeast</option>
            <option value="Poo-nited">Poo-nited</option>
        </select>
    </label><br>
    <label>Airport:
        <select required name="airport">
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="DEN">DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label><br>
    <label>Flight No.:
        <input required type="number" name="flightNo">
    </label><br>
    <label>
        <input required type="datetime-local" name="departs">
    </label><br>
    <button type="submit">Add Flight</button>
</form>
&nbsp;

<%- include('../partials/header') %>