<%- include('../partials/header') %>

<form action="/flights/<%= flight._id %>/tickets" method=POST>
    <label></label>
    <input type="text" name="seat">
    <label></label>
    <input type="text" name="price">
</form>
<%- include('../partials/header') %>